$('.filter-result').empty();

<% @words.each do |word| %>
	$('.filter-result').append("<tr><td><%=j word.content %></td><td><b><%=j word.correct_answer.content %></b></td></tr>");
<% end %>

$('.paginate').empty();
$('.paginate').append("<%=j will_paginate @words %>");

