

$('.filter-result').empty();

<% @words.each do |word| %>
  $('.filter-result').append("<tr>");
	  $('.filter-result').append("<td><%= escape_javascript word.content %></td>");
	  <% word.word_answers.each do |word_answer| %>
	  	 <% if word_answer.correct %>
	  	 	$('.filter-result').append("<td><b><%= escape_javascript word_answer.content %></b></td>");
	  	 <% end %>
	  <% end %>
  $('.filter-result').append("</tr>");
<% end %>
