<% provide(:title, "Word list") %>

<h1> Word List</h1>

<div class="container">

	<div class="row col-md-12">
		<div class="row container col-md-12 filter_menu">
			<%= render "filter" %>
		</div>
			<%= render "content" %>
	</div>

</div>
