
<% provide(:title, 'Admin Home') %>
<div class="center">
  <h1>Admin page.</h1>



  <%= link_to "Users Manager", admin_users_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Words Manager", admin_words_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Categories Manager", admin_categories_path, class: "btn btn-lg btn-primary" %>

</div>